platforms/*
plugins/*
node_modules
www/js/Cryptonaut.js
www/js/Cryptonaut.min.js
www/components/**/*
components/**/*
!www/components/.gitignore
!components/.gitignore
www/tests/Cryptonaut-tests.js
www/js/Cryptonaut-templates.js
